---
---
@import "{{ site.theme }}";

body .markdown-body {
  img {
    width: 100%;
    height: max-content;
    max-height: 500px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }
  table {
     margin: 10px auto;
     width: fit-content;
  }
}
